<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container">
    <br><br>
    <h1>Oops, a 500 Error! <br>It looks like something went wrong on our side...</h1>

    <div style="font-size:xx-large;">
        <p><br>Sorry! You should be able to fix this by going back a page in your browser, and/or hitting refresh, and then continuing with the survey.
            <br><br>To go back a page, click the back button in your browser or hold Alt down and press the left arrow key.
        <br><br>To refresh the page, click the refresh button in your browser or press the F5 key.
        <br>Sorry again! We hope this fixes this error for you!</p>
    </div>
</body>
</html>